{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">

    <div>
        {% if TRUE_LOGIN == CURRENT_LOGIN %}
        <h1>Flask-Admin example</h1>
        <p class="lead">
            Authentication
        </p>
        <p>
            This example shows how you can use Flask-Login for authentication. It is only intended as a basic demonstration.
        </p>
        {% else %}
        <h1> Please, login first </h1>
        <a class="btn btn-primary" href="/login"><i class="icon-arrow-left icon-white"></i> Back</a>
         {% endif %}
    </div>
</div>
{% endblock body %}