interactions:
- request:
    body: '{"recipient": {"id": "474276666029691"}, "message": {"text": "\u041a\u0430\u043a
      \u043e\u0446\u0435\u043d\u0438\u0448\u044c \u0434\u043e\u043a\u043b\u0430\u0434?
      \n 1", "quick_replies": [{"content_type": "text", "payload": "like talk 1",
      "title": "\u041f\u043e\u0441\u0442\u0430\u0432\u0438\u0442\u044c \u043b\u0430\u0439\u043a"},
      {"content_type": "text", "payload": "cancel payload", "title": "\u041e\u0442\u043c\u0435\u043d\u0438\u0442\u044c"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://graph.facebook.com/v2.6/me/messages?access_token=1
  response:
    body: {string: '{"recipient_id":"474276666029691","message_id":"mid.$cAAAgfj64Ka5iLgL2f1b_L2uWonrN"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      facebook-api-version: [v2.8]
    status: {code: 200, message: OK}
version: 1
